.swiper-container {
  width: 950px;
  height: 220px;
  color: #fff;
  text-align: center;
  margin: 30px auto;
  cursor: pointer;

}
.pagination{
  display: none;
}
.swiper-slide {
  background: #fff;
   -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  position: relative;
}

.swiper-slide .title {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #004a80;
  margin-top: 15px;
}
  .swiper-slide .title a{
    color: #004a80;
  }
    .swiper-slide .title a:hover{
      text-decoration: underline;
    }
  .swiper-slide img{
    width: 95%;
    
    position: absolute;
    bottom: 10px;
    left: 6px;
  }
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.swiper{
  position: relative;
}
.arrow-left{
  display: inline-block;
  width: 15px;
  height: 29px;
  background: url(../images/arrow-left.png);
  position: absolute;
  left: 0;
  top: 90px;
  cursor: pointer;
}
.arrow-right{
  display: inline-block;
  width: 15px;
  height: 29px;
  background: url(../images/arrow-right.png);
  position: absolute;
  right: 0;
  top: 90px;
  cursor: pointer;
}